
{%extends "app1/base.html"%}

{%load static%}

{%block title%}

<title>ABOUT</title>
{%endblock%}

{%block body_block%}
<h2>About Us:</h2>
<img src="{%static "image/about.jpg"%}" style="width:100%; height: 400px"/>

<p>KLVP School has been providing outstanding education and support to students across the globe. KLVP School is affiliated to the Central Board of Secondary Education, India. It follows MyPedia curriculum in Kindergarten and switches to CBSE for Grades 1 to 12, representing multiple ethnicities – making us a truly international community. We offer a blend of academic, cultural, technological and globally connected activities within a dynamic environment.</p>

<p>With an aim to be one of the finest educational institutions, KLVP School features state-of-the-art classrooms and innovation studios. We encourage creation and collaboration in arts, science and technology. In addition to unrivalled academic standards, we also encourage a healthy combination of sports and extra-curricular activities – providing a holistic education that prepares our students for life, as well as examinations. We pride ourselves in offering an all-encompassing learning experience that moulds our students into young adults who are achievers of the highest order in almost every field.</p>

<p>We, at KLVP School are committed to providing a high-quality education for our students. We emphasise the importance of achieving personal standards of excellence in academic, sporting, cultural and recreational activities. The school combines excellent facilities with a progressive curriculum, proactive values teaching and high expectations of students in performance and behaviour.</p>


{%endblock%}