{%extends "app1/base.html"%}

{%load static%}

{%block title%}
<link rel="stylesheet" type="text/css" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Gallery</title>
{%endblock%}

{%block body_block%}

<div>
	<center>
	<img src="{%static "image/imgone.jpg"%}" width="24.24%;">
	<img src="{%static "image/imgtwo.jpg"%}" width="24.24%;">
	<img src="{%static "image/imgthree.jpg"%}" width="24.24%;">
	<img src="{%static "image/imgsix.jpg"%}" width="24.24%;">
	<img src="{%static "image/clsroom.jpeg"%}" width="24.24%;">
	<img src="{%static "image/img.jpg"%}" width="24.24%;">
	<img src="{%static "image/pic.jpg"%}" width="24.24%;">
	<img src="{%static "image/web.jpg"%}" width="24.24%;">
	<img src="{%static "image/one.jpg"%}" width="24.24%;">
	<img src="{%static "image/two.jpg"%}" width="24.24%;">
	<img src="{%static "image/three.jpg"%}" width="24.24%;">
	<img src="{%static "image/five.jpg"%}" width="24.24%;">
	</center>
	

</div>
































{%endblock%}
