
{%extends "app1/base.html"%}

{%load static%}

{%block title%}
<link rel="stylesheet" type="text/css" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>HOME</title>
{%endblock%}

{%block body_block%}
<center>
<img src="{%static "image/schools-entrance.jpg"%}" style="width:100%; height: 250px"/>
<center><h2>Welcome to KLVP School</h2></center>
<p>KLVP School, where education meets excellence. Our vision is to empowering students to reach their full potential, both academically and personally, fostering a community of lifelong learners. Our mission is to provide a nurturing and innovative learning environment that prepares student for success in an ever-changing world. We provide core values like Academic Excellence, Interity, Respect for Diversity, Community Engagement. KLVP school founded in the year 1997 . We have been dedicated to delivering quality education and shaping the leaders of tomorrow. We continually strive to evolve, adapt, and enhance our educational program to meet the needs of our students.</p>
<center><h2> Why to choose us?</h2></center>
<div class="image-container"></div>
<div> 
		<img src="{%static "image/imgone.jpg"%}" width="22.22%;">
	
		<img src="{%static "image/imgtwo.jpg"%}" width="22.22%;">
	
		<img src="{%static "image/clsroom.jpeg"%}" width="22.22%;">
	
		<img src="{%static "image/imgsix.jpg"%}" width="22.22%;">


	

</div>
</center>
{%endblock%}