{%extends "app1/base.html"%}

{%block title%}
<title>Services</title>
{%endblock%}

{%block body_block%}

<h2>Service 1: Campus Safety</h2>
<p>KLVP School, Campus Safety policy and process ensure safety at work for every individual on the school premises. It is achieved through safe building structure, safe electrical installations, continuous CCTV surveillance, physical perimeter safety, and adherence to strict visitor management policy. Our schools are equipped with all essential Fire fighting facilities based on a detailed risk assessment of the school that meets all regulatory norms. This is backed by periodic training and mock drills to evaluate readiness to handle emergencies.</p>

<h2>Service 2: Health Safety</h2>
<p>At KLVP School, we consider Health Safety and Child Protection (HSCP) as an innate school culture developed through an iterative process of risk assessment, risk mitigation, evaluation of control measures, and periodic review. It is a constantly evolving process based on honest feedback and timely corrective action measures. Our teams are guided by the Local/State/National mandate on school safety and by the best practices followed across the education sector.
The HSCP culture at KLPV School heavily hinges on top leadership owning responsibility, effective working of School safety committees, competence creation, role-based clear accountability, safe recruitment, and, above all, a shared vision of keeping the child’s wellbeing at the center, all the time. The implementation has hinged around proactively supporting the schools with world-class training, regular review meetings, and periodic audits against global standards on school safety.</p>


<h2>Service 3: School Bus Facility</h2>
<p>Safety of our young learners whilst using School transport remains a key focus area of our schools, supported by a vigilant mechanism monitoring compliance to all mandatory safety requirements and best practices. Well-trained and professionally competent bus staff serve as a safety net whilst the bus is ferrying our learners. Our schools are well-equipped with a First Aid Centre (Infirmary) manned by a qualified nurse on duty to meet any medical emergency. In addition, regular sensitization on health and hygiene-related issues has helped maintain the well-being of our learners. We have a well-trained squad of first aiders who can handle cases in a routine school environment.</p>

<h2>Service 4: Sports Coaching</h2>
<p> KLVP School specializes in providing coaching for a diverse range of sports, including Tennis, Football, Cricket, Basketball, Silambam, and Athletics. With an ever-growing student body, KLVP currently caters to over 400 students and is steadily progressing towards the milestone of 500 enrollees.KLVP offers both Regular Sports Coaching for local students and Residential Sports Classes for aspiring athletes from beyond the city limits. Moreover, KLVP extends its expertise through School Sports Management services, aiming to elevate the standard of sports education in the surrounding schools. Through these services, KLVP contributes to creating a culture of sports excellence right from the grassroots level. KLVP continues to shape the future of sports education, cultivating a generation of athletes who embody skill, dedication, and sportsmanship. The school's commitment to fostering all-round development, both on and off the field, makes it a pioneer in the field of sports education.





{%endblock%}